.topNav {
  background-color: var(--nav-bg);
  color: var(--text-color);
}

.topNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  padding: 1rem;
}

.topNav-right,
.topNav-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.topNav-center {
  text-decoration: none;
  padding: 0;
  gap: 0.8rem;
}

img.icon {
  height: 1rem;
  width: 1rem;
  border-radius: 4px;
}

.topNav a:hover {
  text-decoration: underline;
}

.topNav a {
  color: var(--text-color);
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
}
.icon-btn:hover,
#theme:hover {
  background-color: transparent;
}

#theme {
  margin: 0.4rem 1rem;
  padding: 0;
  width: 1%;
  font-size: 0;
}
