body.dark {
  --bg-color: #1a1a1a;
  --footer-bg: #1a1a1a;
  --text-color: #f3e6e6;
  --nav-bg: #1a1a1a;
  --card-bg: #242424;
  --form-color: #2a2a2a;
  --btn-bg: #f6e3da;
  --btn-color: black;
  --a-color: #ecdfcc;
  --label-color: #f3e6e6;
}
body.light {
  --bg-color: #f3f2eb;
  --footer-bg: #f3f2eb;
  --text-color: rgb(39, 38, 38);
  --nav-bg: #f3f2eb;
  --card-bg: #fff2eb;
  --form-color: transparent;
  --btn-bg: #4e0202;
  --btn-color: white;
  --accent-color: rgb(64, 23, 23);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0;
  font-family: "Playfair Display", serif;
  overflow: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width:100vw;
  margin: 0;
  overflow-y: auto;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 auto;
}

.center-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

a {
  color: var(--a-color);
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #6f0101;
}

button {
  background-color: var(--btn-bg);
}
button:hover {
  background-color: #6f0101;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid var(--text-color);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

input[type="text"],
input [type="radio"] {
  border: 1px solid var(--text-color);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  filter: alpha(opacity=90);
}

.books-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 50%;;
  margin: auto;
}
